<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byung8.mydiet.mapper.FitnessMemberMapper">
	
	<insert id="registerFsMember" parameterType="com.byung8.mydiet.domain.FitnessMember">
		INSERT INTO TB_FS_MEMBER (
		  MBR_EMLADDR, MBR_NM, MBR_GNDR
		, BRTH_DAY, HEIGHT
		) VALUES (
		  #{email}, #{name}, #{genderId}
		, #{birthday}, #{height})
	</insert>
	
	<select id="findFsMemberByEmail" parameterType="java.lang.String" resultType="com.byung8.mydiet.domain.FitnessMember">
		SELECT
		  a.MBR_ID as memberId
		 ,a.MBR_EMLADDR as email
		 ,a.MBR_NM as name
		 ,a.MBR_GNDR as genderId
		 , (SELECT b.CD_NM FROM TB_CMM_CD b WHERE a.MBR_GNDR=b.CD_ID) as genderNm
		 ,a.BRTH_DAY as birthday
		 ,a.HEIGHT as height
		 ,a.USE_YN as useYn
		 ,a.REG_DT as regDt
		 ,a.UDP_DT as udpDt
		FROM TB_FS_MEMBER a
		WHERE a.USE_YN='Y'
		AND a.MBR_EMLADDR = '${value}'
	</select>
	
	<select id="findFsMemberByName" parameterType="java.lang.String" resultType="com.byung8.mydiet.domain.FitnessMember">
		SELECT
		  a.MBR_ID as memberId
		 ,a.MBR_EMLADDR as email
		 ,a.MBR_NM as name
		 ,a.MBR_GNDR as genderId
		 , (SELECT b.CD_NM FROM TB_CMM_CD b WHERE a.MBR_GNDR=b.CD_ID) as genderNm
		 ,a.BRTH_DAY as birthday
		 ,a.HEIGHT as height
		 ,a.USE_YN as useYn
		 ,a.REG_DT as regDt
		 ,a.UDP_DT as udpDt
		FROM TB_FS_MEMBER a
		WHERE a.USE_YN='Y'
		AND a.MBR_NM = '${value}'
	</select>
	
	<select id="findFsMemberById" parameterType="int" resultType="com.byung8.mydiet.domain.FitnessMember">
		SELECT
		  a.MBR_ID as memberId
		 ,a.MBR_EMLADDR as email
		 ,a.MBR_NM as name
		 ,a.MBR_GNDR as genderId
		 , (SELECT b.CD_NM FROM TB_CMM_CD b WHERE a.MBR_GNDR=b.CD_ID) as genderNm
		 ,a.BRTH_DAY as birthday
		 ,a.HEIGHT as height
		 ,a.USE_YN as useYn
		 ,a.REG_DT as regDt
		 ,a.UDP_DT as udpDt
		FROM TB_FS_MEMBER a
		WHERE a.USE_YN='Y'
		AND a.MBR_ID = ${value}
	</select>
	
	<select id="findFsMemberListByEmail" parameterType="java.lang.String" resultType="com.byung8.mydiet.domain.FitnessMember">
		SELECT
		  a.MBR_ID as memberId
		 ,a.MBR_EMLADDR as email
		 ,a.MBR_NM as name
		 ,a.MBR_GNDR as genderId
		 , (SELECT b.CD_NM FROM TB_CMM_CD b WHERE a.MBR_GNDR=b.CD_ID) as genderNm
		 ,a.BRTH_DAY as birthday
		 ,a.HEIGHT as height
		 ,a.USE_YN as useYn
		 ,a.REG_DT as regDt
		 ,a.UDP_DT as udpDt
		FROM TB_FS_MEMBER a
		WHERE a.USE_YN='Y'
		AND a.MBR_EMLADDR LIKE CONCAT('%','${value}','%')
	</select>
	
	<select id="findFsMemberListByName" parameterType="java.lang.String" resultType="com.byung8.mydiet.domain.FitnessMember">
		SELECT
		  a.MBR_ID as memberId
		 ,a.MBR_EMLADDR as email
		 ,a.MBR_NM as name
		 ,a.MBR_GNDR as genderId
		 , (SELECT b.CD_NM FROM TB_CMM_CD b WHERE a.MBR_GNDR=b.CD_ID) as genderNm
		 ,a.BRTH_DAY as birthday
		 ,a.HEIGHT as height
		 ,a.USE_YN as useYn
		 ,a.REG_DT as regDt
		 ,a.UDP_DT as udpDt
		FROM TB_FS_MEMBER a
		WHERE a.USE_YN='Y'
		AND a.MBR_NM LIKE CONCAT('%','${value}','%')
	</select>
	
	<select id="findFsMemberList" resultType="com.byung8.mydiet.domain.FitnessMember">
		SELECT
		  a.MBR_ID as memberId
		 ,a.MBR_EMLADDR as email
		 ,a.MBR_NM as name
		 ,a.MBR_GNDR as genderId
		 , (SELECT b.CD_NM FROM TB_CMM_CD b WHERE a.MBR_GNDR=b.CD_ID) as genderNm
		 ,a.BRTH_DAY as birthday
		 ,a.HEIGHT as height
		 ,a.USE_YN as useYn
		 ,a.REG_DT as regDt
		 ,a.UDP_DT as udpDt
		FROM TB_FS_MEMBER a
		WHERE a.USE_YN='Y'
	</select>
	
</mapper>